<div class="container">
    <div class="panel">
      <h2 *ngIf="!codeSent && !codeVerified">Recupere sua Senha</h2>
      <h2 *ngIf="codeSent && !codeVerified">Digite o Código de Verificação</h2>
      <h2 *ngIf="codeVerified">Redefina sua Senha</h2>
  
      <!-- Formulário de email -->
      <form *ngIf="!codeSent" (ngSubmit)="onEmailSubmit()">
        <label for="email">Insira seu Email</label>
        <input type="email" id="email" [(ngModel)]="email" name="email" placeholder="seuemail@dominio.com" required>
        <button type="submit">Verificar Email</button>
      </form>
  
      <!-- Formulário de código de verificação -->
      <form *ngIf="codeSent && !codeVerified" (ngSubmit)="onCodeSubmit()">
        <label for="verificationCode">Código de Verificação</label>
        <input type="text" id="verificationCode" [(ngModel)]="verificationCode" name="verificationCode" placeholder="Digite o código" required>
        <button type="submit">Verificar Código</button>
      </form>
  
      <!-- Formulário de redefinição de senha -->
      <form *ngIf="codeVerified" (ngSubmit)="onResetSubmit()">
        <label for="password">Nova Senha</label>
        <input type="password" id="password" [(ngModel)]="password" name="password" placeholder="Digite uma nova senha" required>
  
        <label for="confirmPassword">Confirmar Nova Senha</label>
        <input type="password" id="confirmPassword" [(ngModel)]="confirmPassword" name="confirmPassword" placeholder="Confirme a nova senha" required>
  
        <button type="submit">Redefinir Senha</button>
      </form>
    </div>
  </div>
  