<div class="container">
  <div class="panel">
    <!-- Formulário para inserção do email -->
    <form *ngIf="pageState == signInPageStates.EmailVerification" [formGroup]="signInUserFormGroup" (ngSubmit)="onEmailSubmit()">
      <h2>Entre com seu Email</h2>
      <label for="email">Email</label>
      <input type="email" id="email" formControlName="email" name="email" placeholder="Seu email" required>
      <button *ngIf="isLoading == false" type="submit">Next</button>
    </form>

    <!-- Formulário para inserção da senha -->
    <form *ngIf="pageState == signInPageStates.PasswordVerification" [formGroup]="signInUserFormGroup" (ngSubmit)="login()">
      <h2>Digite sua senha</h2>
      <label for="password">Senha</label>
      <input type="password" id="password" formControlName="password" name="password" placeholder="Sua senha" required>

      <div class="forgot-password" *ngIf="isLoading == false">
        <a (click)="resetPassword()">Esqueceu a senha?</a>
      </div>

      <button *ngIf="isLoading == false" type="submit">Entrar</button>
    </form>

    <!-- Mensagem para criar conta se o email não existir -->
    <div *ngIf="pageState == signInPageStates.CreatingAccount">
      <p>Email não encontrado. Deseja criar uma conta?</p>
      <button (click)="createUser()">Criar Conta</button>
      <button class="back-button" (click)="goBackToLogin()">Voltar para Login</button>
    </div>

    <!-- Mostrar erro se estiver na página de erro -->
    <div *ngIf="pageState === signInPageStates.Error">
      <p>Ocorreu um erro. Tente novamente mais tarde.</p>
    </div>

    <mat-spinner style="margin: auto;" *ngIf="isLoading == true"></mat-spinner>
  </div>
</div>
