.mat-dialog-container {
    padding: 0;
  }
  
  mat-card {
    width: 100%;
    box-shadow: none;
    border-radius: 0;
  }
  
  .mat-card-title {
    text-align: center;
  }
  
  .mat-form-field {
    width: 100%;
  }
  
  mat-card-actions {
    display: flex;
    justify-content: space-between;
    padding: 8px;
  }
  