<!-- <mat-stepper>
    <mat-step *ngFor="let row of fieldsStepMap">
        <div>
            <ng-template matStepLabel>Fill out your name</ng-template>
            
            <mat-form-field>
            <form style="display: grid; grid-template-columns: repeat(3, 1fr); column-gap: 20px;"
                [formGroup]="resourceForm">
                <ng-container style="display: flex; padding: 4px;" #placeToRender></ng-container>
            </form>

            </mat-form-field>

            <button mat-button matStepperPrevious>Back</button>
            <button mat-button matStepperNext>Next</button>
        </div>
    </mat-step>
    
</mat-stepper> -->