<mat-form-field appearance="outline" class="w-full" *ngIf="selectItemsLimit > 1">
  <mat-label>{{ label }}</mat-label>
  <mat-select [formControl]="inputValue" multiple>
    <mat-select-trigger *ngIf="inputValue.value != null">
      <span *ngFor="let value of inputValue.value; let last = last" class="selected-item">
        {{ value[this.translocoService.getActiveLang()] }}{{ !last ? ', ' : '' }}
      </span>
    </mat-select-trigger>
    <mat-option *ngFor="let value of valuesList" [value]="value">
      {{value[this.translocoService.getActiveLang()]}}
    </mat-option>
  </mat-select>
</mat-form-field>

<mat-form-field appearance="outline" class="w-full" *ngIf="selectItemsLimit <= 1">
  <mat-label>{{ label }}</mat-label>
  <mat-select [formControl]="inputValue">
    <mat-select-trigger>
      <span>
        {{ inputValue.value[this.translocoService.getActiveLang()] }}
      </span>
    </mat-select-trigger>
    <mat-option *ngFor="let value of valuesList" [value]="value">
      {{value[this.translocoService.getActiveLang()]}}
    </mat-option>
  </mat-select>
</mat-form-field>
