// #toolbar {
//     width: 100%;
//     display: flex;
//     flex-wrap: wrap;
//     justify-content: space-between;
//     flex-direction: row;
//     align-items: center;
// }

.toolbar-item-spacer {
    flex: 1 1 auto;
}

.app-container {
    height: 90%;
    margin: 0;
}  
.app-sidenav {
    width: 230px;
}
.app-sidenav-content {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
} 

.custom-button {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.custom-button .icon-menu {
    margin-right: 10px;
    width: 20px;
    height: 20px;
    margin-top: 10px;
}

.custom-button span {
    font-size: 14px;
    font-weight: 500;

}

.flex-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.spacer {
    flex: 1;
}

