<div>
    <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
      <mat-icon svgIcon="feather:more-vertical"></mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item [matMenuTriggerFor]="personalize">
        <mat-icon *ngIf="listState === 'list'" svgIcon="list"></mat-icon>
        <mat-icon *ngIf="listState === 'card'" svgIcon="list_alt"></mat-icon>
        <!-- <mat-icon *ngIf="listState === 'grid'" svgIcon="mat_outline:grid_view"></mat-icon> -->
        <span *ngIf="listState === 'list'">Lista</span>
        <span *ngIf="listState === 'card'">Card</span>
        <!-- <span *ngIf="listState === 'grid'">Grid</span> -->
      </button>

      
    </mat-menu>
  
    <mat-menu #personalize="matMenu" xPosition="before">
      <button mat-menu-item (click)="changeViewMode('list')">
        <mat-icon svgIcon="list"></mat-icon>
        <span>Lista</span>
      </button>
      <button mat-menu-item (click)="changeViewMode('card')">
        <mat-icon svgIcon="list_alt"></mat-icon>
        <span>Card</span>
      </button>
      <!-- <button mat-menu-item (click)="changeViewMode('grid')">
        <mat-icon svgIcon="mat_outline:grid_view"></mat-icon>
        <span>Grid</span>
      </button> -->
    </mat-menu>
  
  </div>
  