.tenant-card {
    width: 100%;
    margin: auto;
    box-shadow: none;
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 20px;
  }

  .tenant-card-content {
    padding-top: 0;
  }

  .toggle-group {
    display: flex;
    justify-content: space-between;
    margin: 60px 0;
    gap: 10px;
  }

  .toggle-button {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 20px 0;
    border-radius: 8px;
    width: 68%;
    max-width: 300px;
  }

  .toggle-text {
    margin: 10px 0 0;
    font-weight: semi-bold;
  }

  .centered {
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }

  .form-container {
    display: flex;
    flex-direction: column;
  }

  .full-width {
    width: 100%;
  }

  .action-buttons {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 20px;
   }

   @media (max-width: 600px) {
    .toggle-button {
      width: 100%;
      max-width: none;
    }

    .action-buttons {
      flex-direction: column;
    }
  }