<ng-container *transloco="let t">
  <!-- #region Seletor de opção de cadastro ou importação de Tenant -->
  <mat-card *ngIf="currentPageStep == 'setOptionAddTenantStep'"
    style="width: 100%; margin: auto; box-shadow: none; border: 1px; border-radius: 8px; ">
    <mat-card-content style="padding-top: 0;">
      <form [formGroup]="addTenantOptionFormGroup">

        <mat-button-toggle-group formControlName="addTenantOptionControl" aria-label="Icon toggle group"
          style="display: flex; justify-content: space-between; margin: 60px 0; gap: 10px; border: none; box-shadow: none;">
          <mat-button-toggle value="createNewTenantCredentialStep"
            style="display: flex; flex-direction: column; align-items: center; text-align: center; padding: 20px 0; border: none; border-radius: 8px; width: 68%; max-width: 300px; outline: none; box-shadow: none; ">
            <mat-icon style="font-size: 1.5em;">favorite</mat-icon>
            <p style="margin: 10px 0 0 0; font-weight: semi-bold;">{{ t('tenant-credential-form.selection-register-new-tenant') }}</p>
          </mat-button-toggle>

          <mat-button-toggle value="accessTenantWithCodeStep"
            style="display: flex; flex-direction: column; align-items: center; text-align: center; padding: 20px 0; border: none; border-radius: 8px; width: 68%; max-width: 300px; outline: none; box-shadow: none; ">
            <mat-icon style="font-size: 1.5em;">thumb_up</mat-icon>
            <p style="margin: 10px 0 0 0; font-weight: semi-bold;">{{ t('tenant-credential-form.access-tenant-with-code') }}</p>
          </mat-button-toggle>
        </mat-button-toggle-group>

        <div style="display: flex; justify-content: center; margin-top: 20px;">
          <button mat-button style="padding: 0" (click)="selectAddTenantOption()">{{ t('tenant-credential-form.selection-option-button') }}</button>
        </div>
      </form>
    </mat-card-content>
  </mat-card>

  <!-- #region Formulário para criação de novo Tenant Credential -->
  <mat-stepper *ngIf="currentPageStep == 'createNewTenantCredentialStep'" linear #stepper>
    
    <mat-step [stepControl]="registerNewTenantFormGroup" [editable]="isEditable">
      <form [formGroup]="registerNewTenantFormGroup" style="display: flex; flex-direction: column;">
        <ng-template matStepLabel>{{ t('tenant-credential-form.create-new-tenant-tittle') }}</ng-template>

        <mat-form-field appearance="fill">
          <mat-label>{{ t('tenant-credential-form.create-new-tenant-database-name') }}</mat-label>
          <input matInput formControlName="dbName" placeholder="Example: admin" required>
        </mat-form-field>

        <mat-form-field appearance="fill">
          <mat-label>{{ t('tenant-credential-form.create-new-tenant-database-type') }}</mat-label>
          <mat-select formControlName="dbType">
            <mat-option *ngFor="let databaseType of databaseTypes" [value]="databaseType.name">
              {{databaseType.name}}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field appearance="fill">
          <mat-label>{{ t('tenant-credential-form.create-new-tenant-database-username') }}</mat-label>
          <input matInput formControlName="dbUsername" placeholder="Example: admin" required>
        </mat-form-field>

        <mat-form-field appearance="fill">
          <mat-label>{{ t('tenant-credential-form.create-new-tenant-database-password') }}</mat-label>
          <input matInput formControlName="dbPassword" type="password"
            placeholder="Example: passwordVeryV3r1ComplicadedHere" required>
        </mat-form-field>

        <mat-form-field appearance="fill">
          <mat-label>{{ t('tenant-credential-form.create-new-tenant-database-host') }}</mat-label>
          <input matInput formControlName="dbHost" placeholder="Example: 133.212.312.53" required>
        </mat-form-field>

        <mat-form-field appearance="fill">
          <mat-label>{{ t('tenant-credential-form.create-new-tenant-database-port') }}</mat-label>
          <input matInput formControlName="dbPort" placeholder="Example: 545" required>
        </mat-form-field>

        <div style="display: flex; justify-content: center;">
          <button mat-raised-button color="warn" class="cancel-button" (click)="cancel()" style="margin-right: 10px;">{{
            t('tenant-credential-form.button-cancel') }}</button>
          <button mat-raised-button color="primary" class="save-button" matStepperNext (click)="registerNewTenant()">{{
            t('tenant-credential-form.button-save') }}</button>
        </div>

      </form>
    </mat-step>

    <mat-step>
      <ng-template matStepLabel>{{ t('tenant-credential-form.create-new-tenant-test-connection-tittle') }}</ng-template>

      <mat-spinner *ngIf="isRegisterTenantLoading == true" style="margin: auto;"></mat-spinner>

      <div *ngIf="addTenantResponse == 'success'" style="margin: auto;">
        <p>{{ t('tenant-credential-form.create-new-tenant-test-connection-success') }}</p>
      </div>

      <div *ngIf="addTenantResponse == 'failure'" style="margin: auto;">
        <p>{{ t('tenant-credential-form.create-new-tenant-test-connection-failure') }}</p>

        <button mat-raised-button color="warn" class="cancel-button" (click)="cancel()"
          style="margin-right: 10px;">{{ t('tenant-credential-form.button-cancel') }}</button>
        <!-- <button mat-raised-button color="primary" class="save-button" matStepperNext
            (click)="">Tentar novamente</button> -->
      </div>

    </mat-step>

    <mat-step [stepControl]="selectTenantToCreateTenantCredential" [editable]="isEditable">
      <form [formGroup]="selectTenantToCreateTenantCredentialFormGroup" style="display: flex; flex-direction: column;">
        <ng-template matStepLabel>{{ t('tenant-credential-form.import-new-tenant-tittle') }}</ng-template>

        <mat-form-field appearance="fill">
          <mat-label>Selecione um tenant</mat-label>
          <mat-select formControlName="name">
            <mat-option *ngFor="let tenantUserIsAdmin of tenantsUserIsAdmin" [value]="tenantUserIsAdmin.name">
              {{tenantUserIsAdmin.name}}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <button mat-raised-button color="accent" class="create-new-tenant-button" (click)="cancel()" style="margin-bottom: 10px;">
          <mat-icon>plus</mat-icon>
          Criar novo Tenant
        </button>

        <div style="display: flex; justify-content: center;">
          <button mat-raised-button color="warn" class="cancel-button" (click)="cancel()" style="margin-right: 10px;">{{ t('tenant-credential-form.button-cancel') }}</button>
          <button mat-raised-button color="primary" class="save-button">{{ t('tenant-credential-form.button-save') }}</button>
        </div>

      </form>
    </mat-step>

    <mat-step [stepControl]="createNewTenantDatabase" [editable]="isEditable">
      <form [formGroup]="createNewTenantFormGroup" style="display: flex; flex-direction: column;">
        <ng-template matStepLabel>Criar novo banco de dados</ng-template>

        <mat-form-field appearance="fill">
          <mat-label>Nome</mat-label>
          <textarea style="resize: none;" matInput formControlName="name"
            placeholder="Example: wkf3f302dksoJD02321JE" required></textarea>
        </mat-form-field>

        <div style="display: flex; justify-content: center;">
          <button mat-raised-button color="warn" class="cancel-button" (click)="cancel()" style="margin-right: 10px;">{{ t('tenant-credential-form.button-cancel') }}</button>
          <button mat-raised-button color="primary" class="save-button">{{ t('tenant-credential-form.button-save') }}</button>
        </div>

      </form>
    </mat-step>

    
  </mat-stepper>

  <!-- TODO situação de criar um novo tenant (banco de dados da empresa) para depois cadastrar as credenciais para acessar esse tenant -->
  <mat-stepper *ngIf="currentPageStep == 'createNewTenantStep'" linear #stepper>
    
  </mat-stepper>
  <!-- TODO situação para selecionar um tenant já existente e adicionar uma credencial nova para acesso ao banco de dados -->

  <mat-stepper *ngIf="currentPageStep == 'selectTenantToCreateTenantCredentialStep'" linear #stepper>
  
  </mat-stepper>

  <!-- #region Formulário para importacao de novo Tenant -->
  <mat-stepper *ngIf="currentPageStep == 'accessTenantWithCodeStep'" linear #stepper>
    
    <mat-step [stepControl]="importNewTenantFormGroup" [editable]="isEditable">
      <form [formGroup]="importNewTenantFormGroup" style="display: flex; flex-direction: column;">
        <ng-template matStepLabel>{{ t('tenant-credential-form.access-tenant-with-code-tittle') }}</ng-template>

        <mat-form-field appearance="fill">
          <mat-label>{{ t('tenant-credential-form.import-new-tenant-code') }}</mat-label>
          <textarea style="resize: none;" matInput formControlName="codeValue"
            placeholder="Example: wkf3f302dksoJD02321JE" required></textarea>
        </mat-form-field>

        <div style="display: flex; justify-content: center;">
          <button mat-raised-button color="warn" class="cancel-button" (click)="cancel()" style="margin-right: 10px;">{{ t('tenant-credential-form.button-cancel') }}</button>
          <button mat-raised-button color="primary" class="save-button">{{ t('tenant-credential-form.button-save') }}</button>
        </div>

      </form>
    </mat-step>
  </mat-stepper>
</ng-container>