<div class="px-3">
    <ng-container *transloco="let t; read: 'componentsBase.filter-boolean-component'">
        <mat-form-field class="w-full" appearance="outline">        
            <mat-label>{{t("value")}}</mat-label>
            <mat-select [formControl]="searchableBoolean" name="searchableBoolean.value">
            <mat-option *ngFor="let booleanValue of booleanValues" [value]="booleanValue.value">
                {{t(booleanValue.value)}}
            </mat-option>
            </mat-select>
        </mat-form-field>

    </ng-container>
</div>
