<mat-form-field style="width: 100%;" appearance="outline" >
    <mat-label>{{displayedLabel}}</mat-label>
    <input matInput placeholder={{placeholder}} [formControl]="inputValue" [maxlength]="charactersLimit" [required]="isRequired">
    <!-- <input matInput placeholder={{placeholder}} mask={{mask}} [formControl]="display" [maxlength]="maxCharacters" [required]="isRequired" (input)="formatInput()"> -->
    <!-- <input matInput placeholder={{placeholder}} mask={{mask}} [formControl]="display" [maxlength]="maxCharacters" [required]="isRequired"> -->
    <mat-icon (click)="actionOnClickInIcon && actionOnClickInIcon()" *ngIf="svgIcon != null && setIconPosition() == 'start'" [matIconPrefix] svgIcon={{svgIcon}}></mat-icon>
    <mat-icon (click)="actionOnClickInIcon && actionOnClickInIcon()" *ngIf="svgIcon != null && setIconPosition() == 'end'" [matIconSuffix] svgIcon={{svgIcon}}></mat-icon>
</mat-form-field>